body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#nav {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(#555, #111);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.335);
    text-align: center;
}

#navTitle {
    width: 300px;
    margin-top: 5px;
}

#navAuthor {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

#navAuthorLink {
    color: white;
}

#navAuthorLink:hover {
    text-decoration: none;
}

#imageid {
    width: 300px;
    height: 300px;
    border: solid 1px lightblue;
}

.game {
    background-color: rgba(0, 0, 0, 0.74);
    width: 760px;
    margin-top: 20px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.gameText {
    text-align: center;
    margin-top: 20px;
}

.artist {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.textAlign {
    text-align: center;
}

#inputbar {
    background-color: black;
    border: solid 1px white;
    margin-top: 5px;
    margin-bottom: 5px;
}